@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
* {
  color: white;
  font-family: 'Source Code Pro', monospace;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  background-color: #121212;
}
pre {
  padding: 5px;
}
#title {
  padding-top: 20px;
  padding-left: 20px;
}
#subtitle {
  padding-left: 20px;
}
#Terry {
  width: 10%;
  padding-top: 20px;
  padding-left: 20px;
}